.caption{
    margin-left: 10%;
    color:black;
    font-size: 700;
}

.main{
    border: 4px dotted green;
    width: 700px;
}

.ex-mark{
    color: rgb(0, 0 255);
    font-size: large;
}

.ex-mark:hover{
    color: purple;
    font-size: xx-large;
}

.radio1:hover{
    color: rgba(0, 128, 0, 0);
    font-size: 30px;
 }
    

