


                    week9css
*{
    padding: 0;
    margin: 0;
}
.ghj{
    margin-right: -40%;
}

.body{
    border-top: 1px solid rgb(161, 154, 154);
    padding-top: 1%;
}

.body2{
    float: right;
    margin-right: 30%;
}


.webs{
    text-decoration: none;
    color: black;
    font-size: 19px;
}
.webs:hover{
    color: black;
}


.google-img{
    width: 23px;
    padding-right: 5px;
}

h6{
    color:red;
}


.img-fluid{
    border-radius: 2%;
    margin-left: 3%;
    display: flex;

}
.orderlast{

}

.photo1{
    width: 60px;
    float: left;
}

.photo2{
    width: 60px;
}

.main-content{
    display: flex;

}

strong{
    margin-left: 11%;
    margin-top: 4%;
    font-family: 'Pacifico', cursive;
    color: rgb(62, 62, 68);
    font-size: 30px;
    
    
}
.caption{
    margin-top: 60px;
    font-size: 20px;
    color: grey;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 1px;
    margin-left: -75.5%;
}

.welcome{
    padding-top: 8%;
}

.main-p{
    padding-top: 2%;
    margin-left: 4%;
}

.first-p{
    margin-top: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight:lighter;
    font-size: 15px;
    color: grey;
  
}

.u-name{
    color: rgb(48, 46, 46);
    font-weight: bold;
    
}

.hr{
    width: 70%;
    margin-right: 20%;
}

.second-p{
    font-family: Arial, Helvetica, sans-serif;
    font-weight:lighter;
    font-size: 15px;
    color: grey;
}

b{
    color:   rgb(48, 46, 46);
}
b:hover{
    color: rgb(218, 207, 207);
    transition-duration: 1s;
}

.fg-pwd{
    font-size: 70%;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: grey;
    margin-left: 36%;
}

.submit{
    background-color: rgb(116, 114, 120);
    color:white;
    height: 40px;
    width: 40%;
    border-radius: 20px;
    border: none;
    font-weight: bolder;
    margin-left: 10%;
}

.option{
    font-weight: lighter;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    color: grey;
    margin-left: 29%;
    padding-top: 34px;
    padding-bottom: 34px;
}

.sign-in{
    margin-left: 11%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    font-weight: lighter;
    color: rgb(94, 81, 81);
   
}


.new-account{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: lighter;
    color: grey;
    margin-left: 7%;
    padding-top: 40px;
    margin-bottom: 20%;
}

.ca{
    color: grey;
    
}

.main-photo{
    float:left;
}



                
    

